body {
    font-family: 'Noto Sans KR', sans-serif;
}

p,
h1,
h2,
h3,
h4,
.gugi-font {
    font-family: 'Noto Sans KR', cursive;
}

.emp{
    color: #34cc2a !important;
}

#about_nmix{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(images/6.jpg);
    background-size: cover;
    background-position: center;
}

/* 네비게이션 영역 */
.nav-link:active, .nav-link:hover{
    color: #34cc2a !important;
}


/* 헤더 영역 */
header {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(images/1.jpg);
    background-size: cover;
    background-position: center;
}

.aboutHeader{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url(images/4.jpg) !important;
    background-size: cover;
    background-position: center;
}


/* 서비스 섹션 */
.card-hover:hover {
    background-color: #ffc10726;
}

.ably{
    background-color:#eb3fa3;
    color:white;
}

.naver{
    background-color:#34cc2a;
    color:black;
}

.footer-link:hover,.footer-link:active{
    color: #34cc2a !important;
}

/* SNS 영역 */
#sns-links {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images/sns-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


/* 뉴스 섹션 */
#news {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(images/news-bg.jpg);
    background-size: cover;
    background-position: center;
}

@media(max-width:991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(8px);
    }
}

